
@section Style{
    @Styles.Render("~/Content/icheck-square-green")
    @Styles.Render("~/Content/bootstrap-datepicker")
    @Styles.Render("~/Content/material-table")
}
@section Header{

}
<body>
    <div class="row center" id="product">

        <table  id="prodcut_table" cellspacing=0 cellpadding=0 id="pd_table" align="center" class="table table-bordered center-block">
            <tr>
                <td class="no-border" colspan="120"><span class="title-font">广东中德电缆有限公司</span><br /><span class="sub-title-font">成品检验质量记录表</span></td>
            </tr>
            <tr>
                <td class="no-border" colspan="120" style="text-align:right">表格编号：11-QR-055 A.1&nbsp;&nbsp;&nbsp;&nbsp; </td>
            </tr>
            <tr>
                <td colspan="10">盘号</td>
                <td colspan="30">线材编码/<br />型号规格</td>
                <td colspan="5">数量m</td>
                <td colspan="5">检验数据</td>
                <td colspan="5">护套最小<br />厚度mm</td>
                <td colspan="5">护套平均<br />厚度mm</td>
                <td colspan="5">电缆直径<br />mm</td>
                <td colspan="35">护套厚度<br />mm</td>
                <td colspan="7">芯线颜色<br />（按排列)</td>
                <td colspan="5">20℃导体<br />直流电阻<br />Ω/km</td>
                <td colspan="5">耐压测试<br />kv/min</td>

                <td colspan="3">印字</td>
                <td colspan="1">外观</td>
                <td colspan="2">结果判定</td>
                <td colspan="5">备注</td>

            </tr>
            <tr>
                <td rowspan="2" colspan="10">
                    <textarea cols="10" rows="2"></textarea>
                </td>
                <td rowspan="2" colspan="30">
                    <textarea cols="30" rows="2"></textarea>
                </td>
                <td rowspan="2" colspan="5">
                    <textarea cols="5" rows="2"></textarea>
                </td>
                <td colspan="5">标准</td>
                <td colspan="5"><textarea rows="1" cols="5"></textarea></td>
                <td colspan="5"><textarea rows="1" cols="5"></textarea></td>
                <td colspan="5"><textarea rows="1" cols="5"></textarea></td>

                <td colspan="5">头</td>
                <td colspan="5"><textarea rows="1" cols="5"></textarea></td>
                <td colspan="5"><textarea rows="1" cols="5"></textarea></td>
                <td colspan="5"><textarea rows="1" cols="5"></textarea></td>
                <td colspan="5"><textarea rows="1" cols="5"></textarea></td>
                <td colspan="5"><textarea rows="1" cols="5"></textarea></td>
                <td colspan="5"><textarea rows="1" cols="5"></textarea></td>


                <td rowspan="2" colspan="7"><textarea rows="2" cols="7"></textarea></td>
                <td rowspan="2" colspan="5"><textarea rows="2" cols="5"></textarea></td>
                <td rowspan="2" colspan="5"><textarea rows="1" cols="5"></textarea></td>

                <td rowspan="2" colspan="3"><textarea rows="2" cols="5"></textarea></td>
                <td rowspan="2" colspan="1"><textarea rows="2" cols="1"></textarea></td>
                <td rowspan="2" colspan="2"><textarea rows="2" cols="2"></textarea></td>
                <td rowspan="2" colspan="5"><textarea rows="2" cols="5"> </textarea></td>

            </tr>
            <tr>
                <td colspan="5">实测</td>

                <td colspan="5"><textarea rows="1" cols="5"></textarea></td>
                <td colspan="5"><textarea rows="1" cols="5"></textarea></td>
                <td colspan="5"><textarea rows="1" cols="5"></textarea></td>
                <td colspan="5">尾</td>
                <td colspan="5"><textarea rows="1" cols="5"></textarea></td>
                <td colspan="5"><textarea rows="1" cols="5"></textarea></td>
                <td colspan="5"><textarea rows="1" cols="5"></textarea></td>
                <td colspan="5"><textarea rows="1" cols="5"></textarea></td>
                <td colspan="5"><textarea rows="1" cols="5"></textarea></td>
                <td colspan="5"><textarea rows="1" cols="5"></textarea></td>
            </tr>
        
            <tr>
                <td rowspan="2" colspan="10">
                    <textarea cols="10" rows="2"></textarea>
                </td>
                <td rowspan="2" colspan="30">
                    <textarea cols="30" rows="2"></textarea>
                </td>
                <td rowspan="2" colspan="5">
                    <textarea cols="5" rows="2"></textarea>
                </td>
                <td colspan="5">标准</td>
                <td colspan="5"><textarea rows="1" cols="5"></textarea></td>
                <td colspan="5"><textarea rows="1" cols="5"></textarea></td>
                <td colspan="5"><textarea rows="1" cols="5"></textarea></td>

                <td colspan="5">头</td>
                <td colspan="5"><textarea rows="1" cols="5"></textarea></td>
                <td colspan="5"><textarea rows="1" cols="5"></textarea></td>
                <td colspan="5"><textarea rows="1" cols="5"></textarea></td>
                <td colspan="5"><textarea rows="1" cols="5"></textarea></td>
                <td colspan="5"><textarea rows="1" cols="5"></textarea></td>
                <td colspan="5"><textarea rows="1" cols="5"></textarea></td>


                <td rowspan="2" colspan="7"><textarea rows="2" cols="7"></textarea></td>
                <td rowspan="2" colspan="5"><textarea rows="2" cols="5"></textarea></td>
                <td rowspan="2" colspan="5"><textarea rows="1" cols="5"></textarea></td>

                <td rowspan="2" colspan="3"><textarea rows="2" cols="5"></textarea></td>
                <td rowspan="2" colspan="1"><textarea rows="2" cols="1"></textarea></td>
                <td rowspan="2" colspan="2"><textarea rows="2" cols="2"></textarea></td>
                <td rowspan="2" colspan="5"><textarea rows="2" cols="5"> </textarea></td>

            </tr>
            <tr>
                <td colspan="5">实测</td>

                <td colspan="5"><textarea rows="1" cols="5"></textarea></td>
                <td colspan="5"><textarea rows="1" cols="5"></textarea></td>
                <td colspan="5"><textarea rows="1" cols="5"></textarea></td>
                <td colspan="5">尾</td>
                <td colspan="5"><textarea rows="1" cols="5"></textarea></td>
                <td colspan="5"><textarea rows="1" cols="5"></textarea></td>
                <td colspan="5"><textarea rows="1" cols="5"></textarea></td>
                <td colspan="5"><textarea rows="1" cols="5"></textarea></td>
                <td colspan="5"><textarea rows="1" cols="5"></textarea></td>
                <td colspan="5"><textarea rows="1" cols="5"></textarea></td>
            </tr><tr>
    <td rowspan="2" colspan="10">
        <textarea cols="10" rows="2"></textarea>
    </td>
    <td rowspan="2" colspan="30">
        <textarea cols="30" rows="2"></textarea>
    </td>
    <td rowspan="2" colspan="5">
        <textarea cols="5" rows="2"></textarea>
    </td>
    <td colspan="5">标准</td>
    <td colspan="5"><textarea rows="1" cols="5"></textarea></td>
    <td colspan="5"><textarea rows="1" cols="5"></textarea></td>
    <td colspan="5"><textarea rows="1" cols="5"></textarea></td>

    <td colspan="5">头</td>
    <td colspan="5"><textarea rows="1" cols="5"></textarea></td>
    <td colspan="5"><textarea rows="1" cols="5"></textarea></td>
    <td colspan="5"><textarea rows="1" cols="5"></textarea></td>
    <td colspan="5"><textarea rows="1" cols="5"></textarea></td>
    <td colspan="5"><textarea rows="1" cols="5"></textarea></td>
    <td colspan="5"><textarea rows="1" cols="5"></textarea></td>


    <td rowspan="2" colspan="7"><textarea rows="2" cols="7"></textarea></td>
    <td rowspan="2" colspan="5"><textarea rows="2" cols="5"></textarea></td>
    <td rowspan="2" colspan="5"><textarea rows="1" cols="5"></textarea></td>

    <td rowspan="2" colspan="3"><textarea rows="2" cols="5"></textarea></td>
    <td rowspan="2" colspan="1"><textarea rows="2" cols="1"></textarea></td>
    <td rowspan="2" colspan="2"><textarea rows="2" cols="2"></textarea></td>
    <td rowspan="2" colspan="5"><textarea rows="2" cols="5"> </textarea></td>

</tr>
<tr>
    <td colspan="5">实测</td>

    <td colspan="5"><textarea rows="1" cols="5"></textarea></td>
    <td colspan="5"><textarea rows="1" cols="5"></textarea></td>
    <td colspan="5"><textarea rows="1" cols="5"></textarea></td>
    <td colspan="5">尾</td>
    <td colspan="5"><textarea rows="1" cols="5"></textarea></td>
    <td colspan="5"><textarea rows="1" cols="5"></textarea></td>
    <td colspan="5"><textarea rows="1" cols="5"></textarea></td>
    <td colspan="5"><textarea rows="1" cols="5"></textarea></td>
    <td colspan="5"><textarea rows="1" cols="5"></textarea></td>
    <td colspan="5"><textarea rows="1" cols="5"></textarea></td>
</tr><tr>
    <td rowspan="2" colspan="10">
        <textarea cols="10" rows="2"></textarea>
    </td>
    <td rowspan="2" colspan="30">
        <textarea cols="30" rows="2"></textarea>
    </td>
    <td rowspan="2" colspan="5">
        <textarea cols="5" rows="2"></textarea>
    </td>
    <td colspan="5">标准</td>
    <td colspan="5"><textarea rows="1" cols="5"></textarea></td>
    <td colspan="5"><textarea rows="1" cols="5"></textarea></td>
    <td colspan="5"><textarea rows="1" cols="5"></textarea></td>

    <td colspan="5">头</td>
    <td colspan="5"><textarea rows="1" cols="5"></textarea></td>
    <td colspan="5"><textarea rows="1" cols="5"></textarea></td>
    <td colspan="5"><textarea rows="1" cols="5"></textarea></td>
    <td colspan="5"><textarea rows="1" cols="5"></textarea></td>
    <td colspan="5"><textarea rows="1" cols="5"></textarea></td>
    <td colspan="5"><textarea rows="1" cols="5"></textarea></td>


    <td rowspan="2" colspan="7"><textarea rows="2" cols="7"></textarea></td>
    <td rowspan="2" colspan="5"><textarea rows="2" cols="5"></textarea></td>
    <td rowspan="2" colspan="5"><textarea rows="1" cols="5"></textarea></td>

    <td rowspan="2" colspan="3"><textarea rows="2" cols="5"></textarea></td>
    <td rowspan="2" colspan="1"><textarea rows="2" cols="1"></textarea></td>
    <td rowspan="2" colspan="2"><textarea rows="2" cols="2"></textarea></td>
    <td rowspan="2" colspan="5"><textarea rows="2" cols="5"> </textarea></td>

</tr>
<tr>
    <td colspan="5">实测</td>

    <td colspan="5"><textarea rows="1" cols="5"></textarea></td>
    <td colspan="5"><textarea rows="1" cols="5"></textarea></td>
    <td colspan="5"><textarea rows="1" cols="5"></textarea></td>
    <td colspan="5">尾</td>
    <td colspan="5"><textarea rows="1" cols="5"></textarea></td>
    <td colspan="5"><textarea rows="1" cols="5"></textarea></td>
    <td colspan="5"><textarea rows="1" cols="5"></textarea></td>
    <td colspan="5"><textarea rows="1" cols="5"></textarea></td>
    <td colspan="5"><textarea rows="1" cols="5"></textarea></td>
    <td colspan="5"><textarea rows="1" cols="5"></textarea></td>
</tr><tr>
    <td rowspan="2" colspan="10">
        <textarea cols="10" rows="2"></textarea>
    </td>
    <td rowspan="2" colspan="30">
        <textarea cols="30" rows="2"></textarea>
    </td>
    <td rowspan="2" colspan="5">
        <textarea cols="5" rows="2"></textarea>
    </td>
    <td colspan="5">标准</td>
    <td colspan="5"><textarea rows="1" cols="5"></textarea></td>
    <td colspan="5"><textarea rows="1" cols="5"></textarea></td>
    <td colspan="5"><textarea rows="1" cols="5"></textarea></td>

    <td colspan="5">头</td>
    <td colspan="5"><textarea rows="1" cols="5"></textarea></td>
    <td colspan="5"><textarea rows="1" cols="5"></textarea></td>
    <td colspan="5"><textarea rows="1" cols="5"></textarea></td>
    <td colspan="5"><textarea rows="1" cols="5"></textarea></td>
    <td colspan="5"><textarea rows="1" cols="5"></textarea></td>
    <td colspan="5"><textarea rows="1" cols="5"></textarea></td>


    <td rowspan="2" colspan="7"><textarea rows="2" cols="7"></textarea></td>
    <td rowspan="2" colspan="5"><textarea rows="2" cols="5"></textarea></td>
    <td rowspan="2" colspan="5"><textarea rows="1" cols="5"></textarea></td>

    <td rowspan="2" colspan="3"><textarea rows="2" cols="5"></textarea></td>
    <td rowspan="2" colspan="1"><textarea rows="2" cols="1"></textarea></td>
    <td rowspan="2" colspan="2"><textarea rows="2" cols="2"></textarea></td>
    <td rowspan="2" colspan="5"><textarea rows="2" cols="5"> </textarea></td>

</tr>
<tr>
    <td colspan="5">实测</td>

    <td colspan="5"><textarea rows="1" cols="5"></textarea></td>
    <td colspan="5"><textarea rows="1" cols="5"></textarea></td>
    <td colspan="5"><textarea rows="1" cols="5"></textarea></td>
    <td colspan="5">尾</td>
    <td colspan="5"><textarea rows="1" cols="5"></textarea></td>
    <td colspan="5"><textarea rows="1" cols="5"></textarea></td>
    <td colspan="5"><textarea rows="1" cols="5"></textarea></td>
    <td colspan="5"><textarea rows="1" cols="5"></textarea></td>
    <td colspan="5"><textarea rows="1" cols="5"></textarea></td>
    <td colspan="5"><textarea rows="1" cols="5"></textarea></td>
</tr><tr>
    <td rowspan="2" colspan="10">
        <textarea cols="10" rows="2"></textarea>
    </td>
    <td rowspan="2" colspan="30">
        <textarea cols="30" rows="2"></textarea>
    </td>
    <td rowspan="2" colspan="5">
        <textarea cols="5" rows="2"></textarea>
    </td>
    <td colspan="5">标准</td>
    <td colspan="5"><textarea rows="1" cols="5"></textarea></td>
    <td colspan="5"><textarea rows="1" cols="5"></textarea></td>
    <td colspan="5"><textarea rows="1" cols="5"></textarea></td>

    <td colspan="5">头</td>
    <td colspan="5"><textarea rows="1" cols="5"></textarea></td>
    <td colspan="5"><textarea rows="1" cols="5"></textarea></td>
    <td colspan="5"><textarea rows="1" cols="5"></textarea></td>
    <td colspan="5"><textarea rows="1" cols="5"></textarea></td>
    <td colspan="5"><textarea rows="1" cols="5"></textarea></td>
    <td colspan="5"><textarea rows="1" cols="5"></textarea></td>


    <td rowspan="2" colspan="7"><textarea rows="2" cols="7"></textarea></td>
    <td rowspan="2" colspan="5"><textarea rows="2" cols="5"></textarea></td>
    <td rowspan="2" colspan="5"><textarea rows="1" cols="5"></textarea></td>

    <td rowspan="2" colspan="3"><textarea rows="2" cols="5"></textarea></td>
    <td rowspan="2" colspan="1"><textarea rows="2" cols="1"></textarea></td>
    <td rowspan="2" colspan="2"><textarea rows="2" cols="2"></textarea></td>
    <td rowspan="2" colspan="5"><textarea rows="2" cols="5"> </textarea></td>

</tr>
<tr>
    <td colspan="5">实测</td>

    <td colspan="5"><textarea rows="1" cols="5"></textarea></td>
    <td colspan="5"><textarea rows="1" cols="5"></textarea></td>
    <td colspan="5"><textarea rows="1" cols="5"></textarea></td>
    <td colspan="5">尾</td>
    <td colspan="5"><textarea rows="1" cols="5"></textarea></td>
    <td colspan="5"><textarea rows="1" cols="5"></textarea></td>
    <td colspan="5"><textarea rows="1" cols="5"></textarea></td>
    <td colspan="5"><textarea rows="1" cols="5"></textarea></td>
    <td colspan="5"><textarea rows="1" cols="5"></textarea></td>
    <td colspan="5"><textarea rows="1" cols="5"></textarea></td>
</tr><tr>
    <td rowspan="2" colspan="10">
        <textarea cols="10" rows="2"></textarea>
    </td>
    <td rowspan="2" colspan="30">
        <textarea cols="30" rows="2"></textarea>
    </td>
    <td rowspan="2" colspan="5">
        <textarea cols="5" rows="2"></textarea>
    </td>
    <td colspan="5">标准</td>
    <td colspan="5"><textarea rows="1" cols="5"></textarea></td>
    <td colspan="5"><textarea rows="1" cols="5"></textarea></td>
    <td colspan="5"><textarea rows="1" cols="5"></textarea></td>

    <td colspan="5">头</td>
    <td colspan="5"><textarea rows="1" cols="5"></textarea></td>
    <td colspan="5"><textarea rows="1" cols="5"></textarea></td>
    <td colspan="5"><textarea rows="1" cols="5"></textarea></td>
    <td colspan="5"><textarea rows="1" cols="5"></textarea></td>
    <td colspan="5"><textarea rows="1" cols="5"></textarea></td>
    <td colspan="5"><textarea rows="1" cols="5"></textarea></td>


    <td rowspan="2" colspan="7"><textarea rows="2" cols="7"></textarea></td>
    <td rowspan="2" colspan="5"><textarea rows="2" cols="5"></textarea></td>
    <td rowspan="2" colspan="5"><textarea rows="1" cols="5"></textarea></td>

    <td rowspan="2" colspan="3"><textarea rows="2" cols="5"></textarea></td>
    <td rowspan="2" colspan="1"><textarea rows="2" cols="1"></textarea></td>
    <td rowspan="2" colspan="2"><textarea rows="2" cols="2"></textarea></td>
    <td rowspan="2" colspan="5"><textarea rows="2" cols="5"> </textarea></td>

</tr>
<tr>
    <td colspan="5">实测</td>

    <td colspan="5"><textarea rows="1" cols="5"></textarea></td>
    <td colspan="5"><textarea rows="1" cols="5"></textarea></td>
    <td colspan="5"><textarea rows="1" cols="5"></textarea></td>
    <td colspan="5">尾</td>
    <td colspan="5"><textarea rows="1" cols="5"></textarea></td>
    <td colspan="5"><textarea rows="1" cols="5"></textarea></td>
    <td colspan="5"><textarea rows="1" cols="5"></textarea></td>
    <td colspan="5"><textarea rows="1" cols="5"></textarea></td>
    <td colspan="5"><textarea rows="1" cols="5"></textarea></td>
    <td colspan="5"><textarea rows="1" cols="5"></textarea></td>
</tr><tr>
    <td rowspan="2" colspan="10">
        <textarea cols="10" rows="2"></textarea>
    </td>
    <td rowspan="2" colspan="30">
        <textarea cols="30" rows="2"></textarea>
    </td>
    <td rowspan="2" colspan="5">
        <textarea cols="5" rows="2"></textarea>
    </td>
    <td colspan="5">标准</td>
    <td colspan="5"><textarea rows="1" cols="5"></textarea></td>
    <td colspan="5"><textarea rows="1" cols="5"></textarea></td>
    <td colspan="5"><textarea rows="1" cols="5"></textarea></td>

    <td colspan="5">头</td>
    <td colspan="5"><textarea rows="1" cols="5"></textarea></td>
    <td colspan="5"><textarea rows="1" cols="5"></textarea></td>
    <td colspan="5"><textarea rows="1" cols="5"></textarea></td>
    <td colspan="5"><textarea rows="1" cols="5"></textarea></td>
    <td colspan="5"><textarea rows="1" cols="5"></textarea></td>
    <td colspan="5"><textarea rows="1" cols="5"></textarea></td>


    <td rowspan="2" colspan="7"><textarea rows="2" cols="7"></textarea></td>
    <td rowspan="2" colspan="5"><textarea rows="2" cols="5"></textarea></td>
    <td rowspan="2" colspan="5"><textarea rows="1" cols="5"></textarea></td>

    <td rowspan="2" colspan="3"><textarea rows="2" cols="5"></textarea></td>
    <td rowspan="2" colspan="1"><textarea rows="2" cols="1"></textarea></td>
    <td rowspan="2" colspan="2"><textarea rows="2" cols="2"></textarea></td>
    <td rowspan="2" colspan="5"><textarea rows="2" cols="5"> </textarea></td>

</tr>
<tr>
    <td colspan="5">实测</td>

    <td colspan="5"><textarea rows="1" cols="5"></textarea></td>
    <td colspan="5"><textarea rows="1" cols="5"></textarea></td>
    <td colspan="5"><textarea rows="1" cols="5"></textarea></td>
    <td colspan="5">尾</td>
    <td colspan="5"><textarea rows="1" cols="5"></textarea></td>
    <td colspan="5"><textarea rows="1" cols="5"></textarea></td>
    <td colspan="5"><textarea rows="1" cols="5"></textarea></td>
    <td colspan="5"><textarea rows="1" cols="5"></textarea></td>
    <td colspan="5"><textarea rows="1" cols="5"></textarea></td>
    <td colspan="5"><textarea rows="1" cols="5"></textarea></td>
</tr><tr>
    <td rowspan="2" colspan="10">
        <textarea cols="10" rows="2"></textarea>
    </td>
    <td rowspan="2" colspan="30">
        <textarea cols="30" rows="2"></textarea>
    </td>
    <td rowspan="2" colspan="5">
        <textarea cols="5" rows="2"></textarea>
    </td>
    <td colspan="5">标准</td>
    <td colspan="5"><textarea rows="1" cols="5"></textarea></td>
    <td colspan="5"><textarea rows="1" cols="5"></textarea></td>
    <td colspan="5"><textarea rows="1" cols="5"></textarea></td>

    <td colspan="5">头</td>
    <td colspan="5"><textarea rows="1" cols="5"></textarea></td>
    <td colspan="5"><textarea rows="1" cols="5"></textarea></td>
    <td colspan="5"><textarea rows="1" cols="5"></textarea></td>
    <td colspan="5"><textarea rows="1" cols="5"></textarea></td>
    <td colspan="5"><textarea rows="1" cols="5"></textarea></td>
    <td colspan="5"><textarea rows="1" cols="5"></textarea></td>


    <td rowspan="2" colspan="7"><textarea rows="2" cols="7"></textarea></td>
    <td rowspan="2" colspan="5"><textarea rows="2" cols="5"></textarea></td>
    <td rowspan="2" colspan="5"><textarea rows="1" cols="5"></textarea></td>

    <td rowspan="2" colspan="3"><textarea rows="2" cols="5"></textarea></td>
    <td rowspan="2" colspan="1"><textarea rows="2" cols="1"></textarea></td>
    <td rowspan="2" colspan="2"><textarea rows="2" cols="2"></textarea></td>
    <td rowspan="2" colspan="5"><textarea rows="2" cols="5"> </textarea></td>

</tr>
<tr>
    <td colspan="5">实测</td>

    <td colspan="5"><textarea rows="1" cols="5"></textarea></td>
    <td colspan="5"><textarea rows="1" cols="5"></textarea></td>
    <td colspan="5"><textarea rows="1" cols="5"></textarea></td>
    <td colspan="5">尾</td>
    <td colspan="5"><textarea rows="1" cols="5"></textarea></td>
    <td colspan="5"><textarea rows="1" cols="5"></textarea></td>
    <td colspan="5"><textarea rows="1" cols="5"></textarea></td>
    <td colspan="5"><textarea rows="1" cols="5"></textarea></td>
    <td colspan="5"><textarea rows="1" cols="5"></textarea></td>
    <td colspan="5"><textarea rows="1" cols="5"></textarea></td>
</tr><tr>
    <td rowspan="2" colspan="10">
        <textarea cols="10" rows="2"></textarea>
    </td>
    <td rowspan="2" colspan="30">
        <textarea cols="30" rows="2"></textarea>
    </td>
    <td rowspan="2" colspan="5">
        <textarea cols="5" rows="2"></textarea>
    </td>
    <td colspan="5">标准</td>
    <td colspan="5"><textarea rows="1" cols="5"></textarea></td>
    <td colspan="5"><textarea rows="1" cols="5"></textarea></td>
    <td colspan="5"><textarea rows="1" cols="5"></textarea></td>

    <td colspan="5">头</td>
    <td colspan="5"><textarea rows="1" cols="5"></textarea></td>
    <td colspan="5"><textarea rows="1" cols="5"></textarea></td>
    <td colspan="5"><textarea rows="1" cols="5"></textarea></td>
    <td colspan="5"><textarea rows="1" cols="5"></textarea></td>
    <td colspan="5"><textarea rows="1" cols="5"></textarea></td>
    <td colspan="5"><textarea rows="1" cols="5"></textarea></td>


    <td rowspan="2" colspan="7"><textarea rows="2" cols="7"></textarea></td>
    <td rowspan="2" colspan="5"><textarea rows="2" cols="5"></textarea></td>
    <td rowspan="2" colspan="5"><textarea rows="1" cols="5"></textarea></td>

    <td rowspan="2" colspan="3"><textarea rows="2" cols="5"></textarea></td>
    <td rowspan="2" colspan="1"><textarea rows="2" cols="1"></textarea></td>
    <td rowspan="2" colspan="2"><textarea rows="2" cols="2"></textarea></td>
    <td rowspan="2" colspan="5"><textarea rows="2" cols="5"> </textarea></td>

</tr>
<tr>
    <td colspan="5">实测</td>

    <td colspan="5"><textarea rows="1" cols="5"></textarea></td>
    <td colspan="5"><textarea rows="1" cols="5"></textarea></td>
    <td colspan="5"><textarea rows="1" cols="5"></textarea></td>
    <td colspan="5">尾</td>
    <td colspan="5"><textarea rows="1" cols="5"></textarea></td>
    <td colspan="5"><textarea rows="1" cols="5"></textarea></td>
    <td colspan="5"><textarea rows="1" cols="5"></textarea></td>
    <td colspan="5"><textarea rows="1" cols="5"></textarea></td>
    <td colspan="5"><textarea rows="1" cols="5"></textarea></td>
    <td colspan="5"><textarea rows="1" cols="5"></textarea></td>
</tr>

            <tr>
                <td colspan="127">
                    注：1、涉及数据的需填写实际数据；3、外观栏填写合格或不合格；4、结果判定栏填写P标示通过、F表示不通过；5、当判定不合格时需在备注栏对异常进行描述；<br />6、符合要求的采用黑色字体记录，不符合要求的采用红色字体记录；7、检验等级为<input type="text" class="input-underline" size="12">级。
                </td>
            </tr>
            <tr>
                <td colspan="40" class="no-border-right">检验员/日期：<input class="input-underline" /></td>
                <td colspan="87" class="no-border-left" style="text-align:right">审核/日期：<input class="input-underline" /></td>
            </tr>

            <tr>
                <td colspan="127" style="text-align:right" class="no-border">
                    <button class="btn btn-primary dim" type="button" id="submit_btn">
                        提交
                    </button>
                </td>
            </tr>


        </table>
    </div>
</body>

@section Footer{
    @Scripts.Render("~/Scripts/icheck")
    @Scripts.Render("~/Scripts/bootstrap-datepicker")

    <script>
        $(function (mcAdmin) {
            $('input').iCheck({
                checkboxClass: 'icheckbox_square-green',
                radioClass: 'iradio_square-green',
                increaseArea: '20%' // optional
            });

            $('.input-group.date').datepicker({
                todayBtn: "linked",
                keyboardNavigation: false,
                forceParse: false,
                calendarWeeks: true,
                autoclose: true
            });

            var $table = $("#prodcut_table");
            var isValid = true;

            function getReportData($evenTr) {

                var row = $evenTr.prevAll().length + 1;
                var data = [];
                if (row >= 4 && row <= 23 && row % 2 == 0) {
                    $evenTr.find("textarea").each(function (i, v) {
                        var val = $(v).val();
                        data.push(val);
                    })

                    $evenTr.next().find("textarea").each(function (i, v) {
                        var val = $(v).val();
                        data.push(val);
                    })

                    //检验数据
                    if (isNullOrEmpty(data[0]) || isNullOrEmpty(data[1])) {
                        var isSwal = false;
                        data.forEach(function (val, index) {
                            if (isSwal) { return; }
                            if (!isNullOrEmpty(val)) {
                                var trueRow = Math.ceil((row - 3) / 2);
                                
                                swal({
                                    title: "错误",
                                    text: "第" + trueRow + "行的盘号或者规格不能为空",
                                    type: "error"
                                });
                                isSwal = true;
                                isValid = false;
                            }

                        });
                       
                        return null;
                    }
                } else {
                    alert("传入行不对")
                }


                return data;
            }





            function isNullOrEmpty(str) {
                return mcAdmin.isNullOrEmpty(str);

            }

            $("#submit_btn").on("click", function () {
                var allData = [];
                isValid = true;
                //备注属性，下面的签名日期等等
                var remark = [];
                $table.find("tr").each(function (i, tr) {
                    var row = i + 1;
                    //构建report
                    if (row >= 4 && row <= 23 && row % 2 == 0) {
                        var data = getReportData($(tr));
                        if (data != null) {
                            allData.push(data);
                            console.log("data", data);
                        }
                        //构建remark
                    } else if (row > 23) {
                        $(tr).find("input").each(function (i, v) {
                            var val = $(v).val();
                            var isSwal = false;
                            if (isSwal) {
                                return;
                            }
                            if (!isNullOrEmpty(val)) {
                                remark.push(val);
                            } else {
                                isSwal = true;
                                swal({
                                    title: "错误",
                                    text: "请填写页脚的校验等级，审核员，日期等等",
                                    type: "error"
                                });
                            }
                        })
                    }

                })

             
                console.log("allData", allData);
                if (isValid && allData.length > 0 && remark.length > 0) {                
                    $.post("/Material/AddMultiRowReportAction", { allData: allData, index: [0, 1], type: "product", remark: remark }, function (retData) {
                        mcAdmin.dealRetData(retData);
                    });
                }
            })

        }(window.parent.mcAdmin));
    </script>
}