@section Style{
    @Styles.Render("~/Content/jsmind")
    @Styles.Render("~/Content/bootstrap-table")
    @Styles.Render("~/Content/bootstrap-datepicker")

}

@section Header{
    <style type="text/css">
        #proc_jsmind {
            height: 400px;
        }
    </style>}
<body class="gray-bg">

    <div class="row">

        <div class="col-sm-12" id="qt_picture">
            <div class="ibox float-e-margins">
                <div class="ibox-title">

                    <div class="row">
                        <div class="col-sm-12">

                            <form role="form" class="form-inline" id="qt_cond">
                                <div class="form-group">
                                    <label>开始时间：</label>
                                    <div class="input-group date" style="z-index:9999">
                                        <span class="input-group-addon"><i class="fa fa-calendar"></i></span>
                                        <input  name="StartTime" type="text" class="form-control">
                                    </div>
                                </div>
                                <div class="form-group">
                                    <label>结束时间：</label>
                                    <div class="input-group date" style="z-index:9999">
                                        <span class="input-group-addon"><i class="fa fa-calendar"></i></span>
                                        <input  name="EndTime" type="text" class="form-control">
                                    </div>
                                </div>

                                @*<div class="form-group">
                                    <label>规格型号：</label>
                                    <input name="SpecNum" type="text" class="form-control" />
                                </div>*@
                                <div class="form-group">
                                    <label>轴号：</label>
                                    <input name="AxisNum" type="text" class="form-control" />
                                </div>

                                <button type="button" class="btn btn-white" id="qt_search_btn">
                                    <span class="fa fa-search"></span>
                                </button>
                            </form>
                        </div>

                    </div>
                </div>
                <div class="ibox-content">
                    <div class="row " style="background-color:white">
                        <div class="col-sm-12">
                            <div class="panel panel-info">
                                <div class="panel-heading">
                                    <i class="fa fa-info-circle"></i> 详情
                                </div>
                                <div class="panel-body" style="padding:initial">
                                    <div class="container" style="width:100%">
                                        <table id="qt_bref_table"></table>
                                    </div>
                                </div>

                            </div>

                        </div>
                    </div>
                </div>
            </div>
        </div>

    </div>


</body>
@section Footer{
    @Scripts.Render("~/Scripts/bootstrap-table")
    @Scripts.Render("~/Scripts/bootstrap-datepicker")




    <script type="text/javascript">

        function showTraceDetail(link) {
            var mcAdmin = window.parent.mcAdmin;
            var $link = $(link);
            var tabName = $link.attr("tabname");
            var tabId = $link.attr("tabid");
            var axisNum = $link.attr("axisnum");
            mcAdmin.addTab("回溯详情", "/QualityTrace/TraceDetail/" + axisNum);

       
        }

        $(function (mcAdmin) {
            $('.input-group.date').datepicker({
                todayBtn: "linked",
                keyboardNavigation: false,
                forceParse: false,
                calendarWeeks: true,
                autoclose: true
            });


            var $brefTable = $("#qt_bref_table");
            ///////////////////////quality trace picture load //////////////////////
            $("#qt_search_btn").on("click", function () {
                $brefTable.bootstrapTable("removeAll")
                var cond = $("#qt_cond").serializeForm();
                //$.post("TestSuccItems", { cond: cond }, function (retData) {
                //    console.log("succTimes: ",retData.Content)
                //})
                $.post("SearchTraceBrefAction", { cond: cond }, function (retData) {
                    mcAdmin.dealRetData(retData, function () {
                        console.log(retData.Appendix)
                        $brefTable.bootstrapTable("load", retData.Appendix);
                    })
           

                })
            })



            function autoTableIndex(value, row, index) {
                return index + 1;
            }
            $brefTable.bootstrapTable({
                columns: [{
                    formatter: autoTableIndex,
                    title: '序号'
                }, {
                    field: 'Date',
                    title: '时间'
                }, {
                    field: 'Axis_No',
                    title: '轴号'
                }, {
                    field: 'PrintCode',
                    title: '成品盘号'
                },
                 {
                     field: 'Detail',
                     title: '详细'
                 }
                ]

            })
        }(window.parent.mcAdmin))
    </script>
}